* {
   margin: 0;
   padding: 0;
}

body {
   background-color: white;
   font-family: Arial;
   text-align: center;
}

.title {
   margin-top: 100px;
   color: blue;
}

.todayone,
.todaytwo {
   margin-top: 15px;
   font-size: 15px;
   color: tomato;
}